table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.navbar {
    background-image: url("/img/coffee-menu.jpeg");

}

nav>img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

#roast-heading {
    position: relative;
    top: 10px;
}

span.roast {
    color: gray;
    font-size: 19px;
}
span.d-inline-block.mx-2.name{
    font-size: 30px;
}

#rouge-font {
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
    font-weight: bold;
}